* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #e9bebe;
  color: rgb(222, 199, 199);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
p {
  margin-bottom: 1.25rem;
  color: rgb(84, 42, 42);
}
.btn {
  text-transform: uppercase;
  background: blue;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid rgb(89, 89, 146);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #eee2e2;
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  margin-top: 5rem;
  text-align: center;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
h3 {
  text-transform: uppercase;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.811);
}
.lorem-form {
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 1.25rem;
  color: rgb(19, 55, 85);
  font-weight: 700;
  letter-spacing: 1.5px;
}
input {
  padding: 0.25rem 0.5rem;
  width: 4rem;
  border-radius: 8px;
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}
.result {
  margin-bottom: 2rem;
}