* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #d7d0d0;
  color: #a27c7c;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4 {
  letter-spacing: 3px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
p {
  margin-bottom: 1.25rem;
  color: #a79090;
}
.section {
  width: 90vw;
  margin: 0 auto;
}
nav {
  background: #f5eeee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: rgb(9, 9, 72);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: #414166;
  transform: rotate(90deg);
}
.links a {
  color: #433535;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: #edd2bb;
  color: #5a5aa3;
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: blue;
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: #375a73;
  }
}